/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
 */

 .logo{
   width: 396px;
 }

 button.subscribe-btn{
   border-radius: 50px;
   padding: 2px 16px;
 }

 @media (max-width: 991px){
   .logo{
     width: 132px;
   }
 }

 @media (max-width: 767px){
  nav.top-nav{
    padding-left: 0.5em !important; 
    padding-right: 0.5em !important;
  } 
  
  button.subscribe-btn{
     padding: 1px 12px;
     font-size: 13px;
   }
 }